name: Default workflow
on: [push]
jobs:
  setup-environment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install build dependencies
        run: |
          sudo apt-get install -y g++

      - name: Setup environment
        run: |
          export DEST_DIR=build
          ./scripts/setup.sh

      - name: Test environment
        run: |
          cd ${DEST_DIR}
          . venv/bin/activate
          python -c "import lczero.backends"